# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
pubspec.lock

# Generated Drift / build_runner output
*.g.dart

# Generated localizations
lib/core/localization/generated/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android
/android/app/debug
/android/app/profile
/android/app/release
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/local.properties

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Podfile.lock
**/ios/Pods/
**/ios/.symlinks/
